<div class="card">
    <div class="card__top-info">
        <img class="card__image" src="./img/pizza.png" alt="Still standing tall">
        <a href="#" class="card__link">{{ pizza.getName() }}</a>
        <p class="card__info">{{ pizza.getDescription() }}</p>
    </div>
    <div class="card__price-info">
        <p>Price:</p>
        <p>{{ pizza.getPrice() }}$</p>
    </div>
    <button class="card__buy">buy</button>
</div>