<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mamma Mia{% endblock %}</title>
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />  
            <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap" rel="stylesheet" />
            <link rel="stylesheet" href="css/style.css"/>
            <link rel="stylesheet" href="css/style-index.css"/>
        {% endblock %}
    </head>
    <body class="body">
        <header class="header header_backround">
            {% block header %}
                {% include 'header.html.twig' %}
            {% endblock %}
        </header>
        {% block content %}
        {% endblock %}
        <footer class="footer">
            {% block footer %}
                {% include 'footer.html.twig' %}
            {% endblock %}
        </footer>
    </body>
</html>