<div class="header__links">
<a class="logo__text logo__text_white" href="/">Mamma Mia</a>
<nav class="navigation header__navigation">
    <a href="/" class="navigation__link navigation__link_uppercase navigation__link_white">Home</a>
    <a href="#" class="navigation__link navigation__link_uppercase navigation__link_white">Categories</a>
    <a href="#" class="navigation__link navigation__link_uppercase navigation__link_white">About</a>
    <a href="#" class="navigation__link navigation__link_uppercase navigation__link_white">Help</a>
</nav>
{% include 'user/user_info.html.twig'%}
</div>