<div class="user-info">
    <a href="/">
        <img class="basket-icon" src="./img/basket.png">
    </a>
    <p class="email">{{ user.getEmail() }}</p>
    <a href="/">
        {% if user.getAvatarPath() %}
            <img class="avatar" src="./uploads/avatars/{{  user.getAvatarPath() }}">
        {% else %}
            <img class="avatar" src="./img/person.png">
        {% endif %}
    </a>
</div>