<div class="user-info">
    <a href="/">
        <img class="basket-icon" src="./img/basket.png">
    </a>
    <p class="email">{{ email }}</p>
    <a href="/">
        <img class="avatar" src="./img/avatar.png">
    </a>
</div>